api_handlers:
  tenants:
    user_logout: tenants.api.handlers.TenantsAPI.user_logout
    initialize: tenants.api.handlers.TenantsAPI.initialize
    session: tenants.api.handlers.TenantsAPI.session

middlewares:
  - fn_1: base4.base4.utilities.access_control.middlewares:ac_test_middleware_true

attributes:
  time_based:
    - name: business_hours
      params:
        - from: "10:00"
        - to: "17:00"

    - name: off_hours
      params:
        - from: "17:00"
        - to: "09:00"

  location_based:
    - name: internal_network
      params:
        cidr: "192.168.0.0/24"

    - name: external_network
      params:
        cidr: "0.0.0.0/0"


roles:
  __common__:
    permissions:
      - tenants.user_logout
      - tenants.user_session

    rate_limit:
      calls: 100
      period: 3600  # Globalno za sve permisije u roli
    attributes:
      - location_based.internal_network

  root:
    inherits:
      - __common__

    permissions:
      - tenants.initialize:
          attributes:
            - time_based.business_hours
          rate_limit:
            calls: 10
            period: 600  # SpecifiÄno za ovu permisiju

  admin:
    inherits:
      - __common__
    permissions:
      - new_service.get_by_key
      - new_service.healthy
    attributes:
      - time_based.business_hours

  super_admin:
    inherits:
      - root
      - admin
    permissions:
      - new_service.get_by_key
      - new_service.healthy
    attributes:
#      - time_based.business_hours

  user:
    inherits:
      - __common__
    permissions:
      - user_profile.read
      - user_profile.update
      - tenants.user_login:
          middlewares:
            - fn_1_oauth
    attributes:
      - location_based.external_network
